.bg-dark-blue{
    background-color: rgb(31, 31, 107);
    color: beige;
}

.font-bold{
    color: black;
    font-size: 24px;
}

.title-header{
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.header-background{
    background: linear-gradient(0.25turn, yellow 5%, lightblue 25%, blue 60%, darkblue 100%);
}